<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Appointment Search</title>
</head>
<body ng-app="nurseSearch" ng-controller="nsCtrl">
    <a href="/">Home</a>
    <div><input type="text" ng-model="searchTerm"></div>
    <div>Search: {{searchTerm}}</div>
    <div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>OFFICE</th>
            </tr>
            <tr ng-repeat="x in fakeResults | filter: searchTerm">
                <td>{{ x.id }}</td>
                <td>{{ x.name }}</td>
                <td>{{ x.office }}</td>
            </tr>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        var app = angular.module('nurseSearch', []);
        app.controller('nsCtrl', function ($scope) {
            $scope.searchTerm = "";
            $scope.fakeResults = [ //json array of fake search results
                { id: "00001", name: "John Jones", office: "Hospital" }];
        });
    </script>
</body>
</html>